<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<h3>사원 정보 조회</h3>
		<div>		
			<label for = "eid">사원번호</label>
			<input type="text" id="eid" th:value="${emp.employeeId}" readonly>
		</div>
		<div>		
			<label for = "ename">이름</label>
			<input type="text" id="ename" th:value="${emp.lastName}" readonly>
		</div>
		<div>		
			<label for = "email">이메일</label>
			<input type="text" id="email" th:value="${emp.email}" readonly>
		</div>
		<div>		
			<label for = "hDate">입사일</label>
			<input type="date" id="hDate" th:value="${#dates.format(emp.hireDate, 'yyyy-MM-dd')}" readonly>
		</div>
		<div>		
			<label for = "job">업무</label>
			<input type="text" id="job" th:value="${emp.jobId}" readonly>
		</div>
		<div>		
			<label for = "sal">급여</label>
			<input type="number" id="sal" step="0.01" th:value="${emp.salary}" readonly>
		</div>
		<div>
			<button type="button">수정</button>
			<button type="button">목록</button>
			<button type="button">삭제</button>
		</div>
	</div>
</body>
</html>